@import url(assets/css/generic/animations.css);

.loading > *, .no-elements *{ color: var(--color-primario) }

.loading{ position: relative }

.loading *{ position: absolute }

.loading__orbit{
    width: 5.5rem;
    aspect-ratio: 2/1;
    border-radius: 100%;
    border: 0.1rem solid var(--color-primario);
    font-size: 1rem;
    padding: 1rem;
}

.orbit--l{ transform: rotate(45deg)}

.orbit--r{ transform: rotate(-45deg)}

.loading__trophy{
    font-size: 1.3em;
    left: 2rem;
    top: 0.8rem;
}

.loading__star { color: #ffd454; }

.star-l{animation: spinning-right 2s infinite; left: -0.6rem; top: 0.6rem;}
.star-r{animation: spinning-left 2s infinite; top: 0.6rem; right: 0.6rem;}

.no-elements{ flex-direction: column }
.no-elements__img{ width: 20rem; margin-bottom: 1rem; }