.main-container__cards{
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  min-height: calc(100vh - 18rem);
}

.main-container{
  flex-direction: column;
  margin: 2rem 0;
  margin-bottom: 5rem;
}

.search-param{ margin-bottom: 1.5rem; }

.main-container__elements{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 27rem);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.loading{ margin-top: 15rem; }
.no-elements{ margin-top: 5rem; }

@media only screen and (min-width: 768px){
  .main-container{
    flex-direction: row;
    align-items: start;
  }

  .search-param{
    margin: 0 1.5rem;
    width: 30rem;
    margin-top: 1rem;
  }
}
