@keyframes floating {
    0%{transform: translateY(-0.2rem);}
    50%{transform: translateY(0.2rem);}
    100%{transform: translateY(-0.2rem);}
}

@keyframes icon-rotation {
    0%{transform: rotate(10deg);}
    25%{transform: rotate(-20deg);}
    50%{transform: rotate(15deg);}
    75%{transform: rotate(-10deg);}
    100%{transform: rotate(5deg);}
}

@keyframes twinkling-text {
    0%{ opacity: 0; }
    100%{ opacity: 1;}
}

@keyframes spinning-right {
    25%{transform: translate(3.3rem, -1.3rem)}
    50%{transform: translate(5.5rem, 0)}
    75%{transform: translate(3.3rem, 1.3rem)}
    100%{transform: translate(0, 0)}
}

@keyframes spinning-left {
    25%{transform: translate(-3.3rem, 1.3rem)}
    50%{transform: translate(-5.5rem, 0)}
    75%{transform: translate(-3.3rem, -1.3rem)}
    100%{transform: translate(0, 0)}
}