@import url(assets/css/generic/button.css);

.section__main {
  flex: 1;
  height: 100%;
}

.worldcapp-logo__login {
  height: 8rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 40rem;
  border: 1px solid var(--color-primario);
  position: relative;
  padding: 5rem;
  padding-top: 2rem;
}

.form__text--title {
  margin-bottom: 1rem;
}