<section class="nav__info-perfil-container">
  <nav class="nav__info-perfil">
    <ul class="nav__info-perfil-list flex">
      <li class="nav__info-perfil__link nav__info-perfil__link--activo">
        <a class="selected bold"
          >Información del perfil</a
        >
      </li>
      <li class="nav__info-perfil__link">
        <a class="bold"
          >Figuritas Repetidas</a
        >
      </li>

      <li class="nav__info-perfil__link">
        <a class="bold"
          >Figuritas Faltantes</a
        >
      </li>
    </ul>
  </nav>
</section>