<section class="nav__info-perfil-container">
  <nav class="nav__info-perfil">
    <ul class="nav__info-perfil-list flex">
      <li class="nav__info-perfil__link bold" routerLink="informacion" routerLinkActive="nav__info-perfil__link--activo selected">
        Información del perfil
      </li>
      <li class="nav__info-perfil__link bold" routerLink="repetidas" routerLinkActive="nav__info-perfil__link--activo selected">
        Figuritas Repetidas
      </li>
      <li class="nav__info-perfil__link bold" routerLink="faltantes" routerLinkActive="nav__info-perfil__link--activo selected">
        Figuritas Faltantes
      </li>
    </ul>
  </nav>
</section>

<router-outlet></router-outlet>