@import url("../generic/decorations.css");
@import url("../generic/button.css");


.worldcapp-logo__login{
  height: 8rem;
  aspect-ratio: 1/1;
}

.login__general{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section__main{ flex: 1; }

.cut-borders__inner{
  display: flex;
  flex-direction: column;
  width: 40rem;
  border: 1px solid var(--color-primario);
  position: relative;
  padding: 5rem;
  padding-top: 2rem;
}

.login-title{
  color: var(--color-primario);
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.form__text--title{ margin-bottom: 1rem; }

.form__input--subtitle{
  color: var(--color-primario);
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.form__input--container{
  border: none;
  height: 4em;
  margin-bottom: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
}

.form__input--input{
  background-color: var(--color-fondo-secundario);
  color: var(--color-primario);
  flex: 1;
  border: 1px solid var(--color-primario);
  outline: none;
  padding: 1rem;
  background-color: var(--color-fondo-secundario);
}

.form__input--icon{
  color: var(--color-blanco);
  border: none;
  background-color: var(--color-primario);
  width: 4em;
}

.form__button--login{
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.form__button--login:hover{
  letter-spacing: 0.25em;
}

.form__button--login:before{
  border: 1px solid var(--color-primario);
  content: '';
  position: absolute;
  inset: 0;
  background: var(--color-fondo-secundario);
}

.form__button--login span{
  color: var(--color-primario);
  position: relative;
  z-index: 1;
}

.form__button--login i::before,
.form__button--login i::after{
  background-color: var(--color-fondo-secundario);
}

@media only screen and (max-width: 500px){
  .cut-borders__outer::before,
  .cut-borders__outer::after{ width: 0rem; }
  
  .hover-shadow:hover{ box-shadow: none; }
  
  .hover-shadow__container::after{
    left: 0rem;
    bottom: 0rem;
    border-top: none;
  }

  .hover-shadow{ border: none; }

  .cut-borders__container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}